config fancontrol 'settings'
	option enabled '0'
	option debug '0'
	option thermal_file '/sys/devices/virtual/thermal/thermal_zone0/temp'
	option fan_file '/sys/devices/virtual/thermal/cooling_device0/cur_state'
	option temp_div '1000'
	list curve_point '35 0'
	list curve_point '45 36'
	list curve_point '60 90'
	list curve_point '85 255'